.topcon{
  position: relative;
  padding: 100px;
  background-color: #e1ffc2;
}
.middle-container{
  margin: 100px auto;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
}
h1{
  margin-top: 0;
  color: #66BFBF;
  font-size: 50px;
  font-family: 'Sacramento', cursive;


}
h2{
  font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;


}
p{
  color:black;
    line-height: 2;
}
h3{
  font-family: 'Montserrat', sans-serif;


}
hr{
  border: dotted black 6px;
  border-bottom: none;
  width:4%;
  margin: 100px auto;

}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;

}
.contact-me{
  margin: 60px auto 40px;
  width: 40%;
}
.tu{
  width:10%
}
.yu{
  width: 30%;
  border-radius: 0%
}
.yt{
  position: absolute;
}
img{
  border-radius: 50%
}
.skill-row{
 width: 50%;
  margin: 100px auto 100px auto;

  text-align: left;
}
.simg{

  float: left;
  margin-right: 30px;
}
a{
  margin:10px 20px;
  color: #11999E;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.dimg{
  float: right;;
  margin-left: 30px;
}
.itrp{
  width: 30%;
  margin: auto;
}
.btn{
  font-family: arial;
  color: #0D356A !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #63B8EE,  #468CCF);
  background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
  background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
}
.btn:hover{
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #468CCF,  #63B8EE);
  background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
  background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}
